services:
  redis-master1:
    image: redis:8.4-rc1-bookworm
    container_name: redis-master1
    restart: always
    command: [
      "redis-server",
      "--port", "7000",
      "--cluster-enabled", "yes",
      "--cluster-config-file", "nodes.conf",
      "--cluster-node-timeout", "5000",
      "--appendonly", "yes",
      "--cluster-announce-ip", "${HOST_IP}", 
      "--cluster-announce-port", "7000",
      "--cluster-announce-bus-port", "17000",
      "--requirepass",  "${REDIS_PASSWORD}",
      "--masterauth",  "${REDIS_PASSWORD}"
    ]
    ports:
      - "7000:7000"
      - "17000:17000"
    volumes:
      - ./data/redis-master1:/data

  redis-master2:
    image: redis:8.4-rc1-bookworm
    container_name: redis-master2
    restart: always
    command: [
      "redis-server",
      "--port", "7001",
      "--cluster-enabled", "yes",
      "--cluster-config-file", "nodes.conf",
      "--cluster-node-timeout", "5000",
      "--appendonly", "yes",
      "--cluster-announce-ip", "${HOST_IP}", 
      "--cluster-announce-port", "7001",
      "--cluster-announce-bus-port", "17001",
      "--requirepass",  "${REDIS_PASSWORD}",
      "--masterauth",  "${REDIS_PASSWORD}"
    ]
    ports:
      - "7001:7001"
      - "17001:17001"
    volumes:
      - ./data/redis-master2:/data

  redis-master3:
    image: redis:8.4-rc1-bookworm
    container_name: redis-master3
    restart: always
    command: [
      "redis-server",
      "--port", "7002",
      "--cluster-enabled", "yes",
      "--cluster-config-file", "nodes.conf",
      "--cluster-node-timeout", "5000",
      "--appendonly", "yes",
      "--cluster-announce-ip", "${HOST_IP}", 
      "--cluster-announce-port", "7002",
      "--cluster-announce-bus-port", "17002",
      "--requirepass",  "${REDIS_PASSWORD}",
      "--masterauth",  "${REDIS_PASSWORD}"
    ]
    ports:
      - "7002:7002"
      - "17002:17002"
    volumes:
      - ./data/redis-master3:/data

  redis-replica1:
    image: redis:8.4-rc1-bookworm
    container_name: redis-replica1
    restart: always
    command: [
      "redis-server",
      "--port", "7003",
      "--cluster-enabled", "yes",
      "--cluster-config-file", "nodes.conf",
      "--cluster-node-timeout", "5000",
      "--appendonly", "yes",
      "--cluster-announce-ip", "${HOST_IP}", 
      "--cluster-announce-port", "7003",
      "--cluster-announce-bus-port", "17003",
      "--requirepass",  "${REDIS_PASSWORD}",
      "--masterauth",  "${REDIS_PASSWORD}"
    ]
    ports:
      - "7003:7003"
      - "17003:17003"
    volumes:
      - ./data/redis-replica1:/data

  redis-replica2:
    image: redis:8.4-rc1-bookworm
    container_name: redis-replica2
    restart: always
    command: [
      "redis-server",
      "--port", "7004",
      "--cluster-enabled", "yes",
      "--cluster-config-file", "nodes.conf",
      "--cluster-node-timeout", "5000",
      "--appendonly", "yes",
      "--cluster-announce-ip", "${HOST_IP}", 
      "--cluster-announce-port", "7004",
      "--cluster-announce-bus-port", "17004",
      "--requirepass",  "${REDIS_PASSWORD}",
      "--masterauth",  "${REDIS_PASSWORD}"
    ]
    ports:
      - "7004:7004"
      - "17004:17004"
    volumes:
      - ./data/redis-replica2:/data

  redis-replica3:
    image: redis:8.4-rc1-bookworm
    container_name: redis-replica3
    restart: always
    command: [
      "redis-server",
      "--port", "7005",
      "--cluster-enabled", "yes",
      "--cluster-config-file", "nodes.conf",
      "--cluster-node-timeout", "5000",
      "--appendonly", "yes",
      "--cluster-announce-ip", "${HOST_IP}", 
      "--cluster-announce-port", "7005",
      "--cluster-announce-bus-port", "17005",
      "--requirepass", "${REDIS_PASSWORD}",
      "--masterauth",  "${REDIS_PASSWORD}"
    ]
    ports:
      - "7005:7005"
      - "17005:17005"
    volumes:
      - ./data/redis-replica3:/data

networks:
  default:
    driver: bridge
